<div class="panel panel-default">
  <div class="panel-heading"><h4>Due: <%= user_task.due.try(:stamp, 'November 2, 2014') %> </h4>
  </div>

    <div class="panel-body">
      <%= user_task.description %>
      <span class="pull-right">
        <%= link_to fa_icon('pencil'), edit_user_task_path(user_task), remote: true %>
        <%= link_to fa_icon('trash-o'), user_task, remote: true, method: :delete, data: {confirm: 'Are you sure?'} %>
      </span>
    </div>
</div>
