<div class="row">
  <div class="form-box">
    <div class="col-xs-3 col-xs-offset-1">
      <p class="text-center">
        <%= link_to fa_icon('plus', text: 'Add Task'), new_user_task_path, remote: true, class: 'btn btn-primary', id: 'add-task-button' %></p>

      <div id="task-form"></div>
    </div>
  </div>


  <div class="col-xs-7">
    <h2>To Do List</h2>
    <div id="tasks">
       <%= render @user_tasks %>
    </div>
  </div>
</div>